#board-container {
    margin: 10px;
}

#exit {
    font-size: 1em;
    font-weight: bolder;
    text-align: center;
}

#instructions {
    background-color: #fff;
    border-radius: 5px;
    margin: 5px auto;
    padding: 5px;
    text-align: center;
    width: max-content;
}

#level-menu {
    font-size: 1em;
}

#level-menu-container {
    margin: 5px auto;
    padding: 5px;
}

#red {
    color: red;
}

#reload-button {
    border-radius: 5px;
    font-size: 1.5em;
}

#restart-button {
    border: 0;
    border-radius: 50%;
    font-size: 3em;
    font-weight: bolder;
    width: 1.5em;
}

#timer-container, #movecounter-container {
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

#timer-container, #movecounter-container, #level-menu-container {
    background-color: #fff;
    border-radius: 5px;
    font-size: 1.5em;
    text-align: center;
    width: max-content;
}

#top-containers, #restart-button-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

#win {
    color: #000;
    background-color: rgba(255,255,255,0.8);
    font-size: 2em;
    height: 50%;
    margin-top: 10%;
    padding: 10px;
    text-align: center;
}

#win-container {
    color: #000;
    background-color: rgba(0,0,0,0.3);
    display: none;
    height: 50%;
    margin-left: 25%;
    margin-top: 10%;
    position: fixed;
    width: 50%;
    z-index: 1;
}

.left, .right, .up, .down {
    text-align: center;
}

.npc1 {
    background-color: #ff7889;
}

.npc2 {
    background-color: #88ff5b;
}

.npc3 {
    background-color: #cb3bee;
}

.npc4 {
    background-color: #008b20;
}

.npc5 {
    background-color: #630050;
}

.npc6 {
    background-color: #ffe780;
}

.npc7 {
    background-color: #004761;
}

.npc8 {
    background-color: #dc3000;
}

.npc9 {
    background-color: #28deff;
}

.npc10 {
    background-color: #004917;
}

.npc11 {
    background-color: #7f8e66;
}

.player, #restart-button:hover, #reload-button:hover {
    background-color: red;
}

.vehicle {
    border-radius: 5px;
    color: #181818;
    font-size: 24px;
}

.wall {
    background-color: #a9a9a9;
    border: 2px solid #000;
}

body {
    background-image: linear-gradient(#2a70c7,#6497c9);
}

footer {
    background-color: #fff;
    border-radius: 5px;
    font-size: .75em;
    margin: 5px auto;
    padding: 5px;
    text-align: center;
    width: max-content;
}

html {
    font-family: Helvetica, sans-serif;
    min-height: 100%; /* Ensures background gradient takes up entire page */
}

table {
    background-color: #d3d3d3;
    left: 25%;
    margin-left: auto;
    margin-right: auto;
    right: 25%;
}

td {
    height: 70px;
    width: 70px;
}